{% extends "base.html" %}
{% block title %}
	Car List
{% endblock title %}


{% block content %}
<div class="container">
<div class="row">

{% for car in cars %}

<div class="card" style="width: 18rem;">
	{% if car.image %}
		<img src="{{car.image.url}}" class="card-img-top" alt="...">
	{% endif %}

  <div class="card-body">
    <h5 class="card-title">{{car.model}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{car.make}}</li>
    <li class="list-group-item">{{car.year}}</li>
    
  </ul>
  <div class="card-body">
    <a href="{% url 'car-detail' car.id %}" class="btn btn-info">More Details</a>
    <br>
    <br>
    <a href="{% url 'car-delete' car.id %}" class="btn btn-info" style="background-color:red;">DELETE</a>

   
  </div>
  	<br>
	<br>
</div>

{% endfor %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	
{% endblock content %}
	