{% extends "base.html" %}
	{% block title %}
		Car Detail
	{% endblock title %}
		
	{% block content %}
		
	
		<h1>
			{{car.make}} - {{car.model}}
			<small>
				{{car.year}}
			</small>
		</h1>
	{% if car.image %}
		<p><img src= "{{car.image.url}}" height="400px" width="500px"></p>
	{% endif %}
	<a href="{% url 'car-update' car.id %}" class="btn btn-info" style="background-color:green;">UPDATE</a>
    <br>
    <br>
    <a href="{% url 'car-delete' car.id %}" class="btn btn-info" style="background-color:red;">DELETE</a>
	{% endblock content %}
{# </body>
</html> #}
